################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/management/FileContentIndex/e50d0a19-3082-442a-8a4a-a74dc8f7b933.vsidx
/.vs/management/FileContentIndex
