@model Person

<div class="modal fade" id="Create" tabindex="-1" aria-labelledby="CreateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateModalLabel">Add New Person's Details</h5>
            </div>
            <div class="modal-body">
                <form asp-action="Create">
                    <!-- Id Number Input -->
                    <div class="form-group">
                        <label for="account_number-@Model.id_number" class="control-label">ID Number</label>
                        <input type="text" id="account_number-@Model.id_number" name="id_number" class="form-control" required />
                    </div>
                    <!-- Name Input -->
                    <div class="form-group">
                        <label for="account_number-@Model.Name" class="control-label">Name</label>
                        <input type="text" id="account_number-@Model.Name" name="Name" class="form-control" required />
                    </div>
                    <!-- Surname Input -->
                    <div class="form-group">
                        <label for="account_number-@Model.Surname" class="control-label">Surname</label>
                        <input type="text" id="account_number-@Model.Surname" name="Surname" class="form-control" required />
                    </div>
                    <!-- Submit Button -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" value="Add Account" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>