@model Person

<!-- Modal -->
<div class="modal fade" id="Edit-@Model.Code" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.Name @Model.Surname</h5>
            </div>
            <div class="modal-body">
                <form asp-action="Edit">
                    <input type="hidden" asp-for="Code" />
                    <div class="form-group">
                        <label asp-for="id_number" class="control-label"></label>
                        <input asp-for="id_number" class="form-control" />
                        <span asp-validation-for="id_number" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname" class="control-label"></label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    @foreach (var account in Model.Account)
                    {
                        <div class="form-group">
                            <label asp-for="@account.account_number" class="control-label"></label>
                            <input asp-for="@account.account_number" class="form-control" />
                            <span asp-validation-for=@account.account_number class="text-danger"></span>
                        </div>
                    }
                    <div></div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>