@model Transaction

@{
    ViewData["Title"] = "Create Transaction";
}

<h2>Create Transaction for Account @ViewBag.AccountNumber</h2>

<form asp-action="Create">
    <input type="hidden" asp-for="AccountCode" value="@ViewBag.AccountId" />
    <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" type="date" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="control-label"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" asp-route-accountId="@ViewBag.AccountId" class="btn btn-secondary">Back to List</a>
    </div>
</form>