@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Account Management</h1>
    <p>A Welcome Management Page acts as the central interface of an application, offering users a friendly introduction and quick access to essential features. It typically features a welcoming message, navigation links to important sections, and tools like search bars or notifications. The page is designed to ensure a smooth user experience, guiding users effectively and providing them with key information at a glance.</a>.</p>
</div>
